*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    background:url(./fundo.png);
    
}

.cards {
    display: flex;
    justify-content:  center;
    gap: 3rem;
    align-items: center;
    margin: 2rem 0rem;
}
.card-1 {
    width: 300px;
}

.card-2{
    width: 300px;
    height: 80px;
}
.img {
    width: 100%;
    height: 100vh;
    position: absolute;
}
.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

fieldset {
    border: 3px solid #fcd860;
}

legend {
    border: 1px  solid #fcd860;
    padding: 15px;
    text-align: center;
    background-color: #ffcc26;
    border-radius: 8px;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

label {
    margin-left: 0.8rem;
}

.inputBox {
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 90%;
    letter-spacing: 2px;
    margin-left: 1rem;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -30px;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;

}

#submit{
    background-color: #fcd860;
    width: 100%;
    border: none;
    padding: 15px;
    color: rgb(10, 0, 0);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
}


#submit:hover{
    background-color: #ffd15d;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 35%;
    top: 40%;
    text-transform: uppercase;
}

button{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 40%;
    border-radius: 18px;
    border: none;
    background-color: #fcd860;
    cursor: pointer;
}


button:hover{
    background-color: #fcd03d;
}


@media screen and (max-width:1700px) {

    legend{
     font-size: 1rem;
     padding: 10px;
    }

    .box {
        width: 500px;
        margin-top: -1rem;
    }

    .card-1 {
        width: 200px;
    }
    
    .card-2{
        width: 250px;
        height: 50px;
    }

    label{
        font-size: 0.8rem;
    }

    #submit{
        padding: 10px;
        font-size: 1rem;
    }

}




@media screen and (max-width:900px) {
    .img {
        width: 800px;
    }

    .text {
        left: 10rem;
        top: 20rem;
    }
}

@media screen and (max-width:900px) {
    .card-1 {
        width: 150px;
    }
    
    .card-2{
        width: 200px;
        height: 50px;
    }
}


@media screen and (max-width:850px) {
    .img {
        width: 500px;
        height: 400px;
    }

    .text {
        left: 8rem;
        top: 20rem;
    }
}

@media screen and (max-width:600px) {

    .img {
        width: 400px;
        height: 380px;
    }

    .card-1 {
        width: 150px;
    }
    
    .card-2{
        width: 150px;
        height: 40px;
    }

    .box {
        width: 380px;
    }

    .cards {
        gap: 2rem;
    }

    .text {
        left: 3rem;
        top: 15rem;
    }
}
